.breadcrumbs{
	background: rgba(74, 75, 155, .1);
	padding: 25px 0;
	// margin-bottom: 50px;
	// display: block;
	@include respond(screen-xs){
		display: none;
	}
	li, span{
		font-size: 16px;
		float: left;
		font-family: $truenoLight;
		a{
			text-decoration: none;
			span{
				color: $dusty-gray;
				transition: all 0.3s;
				&:hover{
					transition: all 0.3s;
					color: $victoria;
					text-decoration: underline;
				}
			}
			&:after{
				content: "/";
				float: right;
				margin: 0 10px;
				color: $dusty-gray;
			}
		}
		span{
			color: $victoria;
		}
	}
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	& + .container{
		margin-top: 50px;
	}
}