.btn{
	font-size: 16px;
	padding: 15px 20px;
	text-decoration: none;
	transition: all 0.2s;
	font-family: $truenoReg;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	line-height: 20px;
	@include respond(screen-xs){
		display: block;
		box-sizing: border-box;
		width: 100%;
		transition: all 0.2s ease-in;
	}
}

.purple{
	color: $white;
	background: $victoria;
	&:hover{
		transition: all 0.2s;
		background: darken($victoria, 10%);
	}
	.ico{
		fill: $white;
	}
}

.btn-arrow{
	position: relative;
	float: left;
	.ico{
		height: 20px;
		width: 20px;
		float: right;
		margin-left: 85px;
		@include respond(screen-less-than-xlarge){
			margin-left: 48px;
		}
	}
}
input[type="submit"]{
	border: none;
}