.explore-wrap{
	.explore-highlights{
		padding-bottom: 80px;
		border-bottom: solid 1px $concrete;
		@include respond(screen-less-than-xlarge){
			padding-bottom: 35px;
		}
		.row{
			.block{
				border-radius: 3px;
				padding: 35px;
				box-sizing: border-box;
				@include respond(screen-less-than-xlarge){
					margin-bottom: 15px;
				}
				.btn{
					color: $white;
					display: block;
					.ico{
						fill: $white;
					}
				}
				h6{
					font-size: 24px;
					display: block;
					margin-bottom: 15px;
					font-family: $truenoReg;
					color: $tundora;
					@include respond(screen-less-than-xlarge){
						font-size: 18px;
						line-height: 22px;
						margin-bottom: 12px;
					}
				}
				p{
					display: block;
					margin-bottom: 25px;
					font-family: $georgia;
					font-size: 20px;
					color: $tundora;
					line-height: 34px;
					@include respond(screen-less-than-xlarge){
						font-size: 16px;
						line-height: 26px;
						margin-bottom: 20px;
					}
				}
				.powered-by{
					clear: both;
					font-family: $truenoReg;
					font-size: 16px;
					color: $dusty-gray;
					display: inline-block;
					float: left;
					margin-top: 15px;
					@include respond(screen-less-than-xlarge){
						margin-top: 0;
						margin-bottom: 20px;
					}
					
					img{
						display: inline-block;
						margin-left: 10px;
						margin-bottom: -4px;
					}
				}
				&:after{
					content: "";
					display: block;
					clear: both;
				}
			}
			&:first-child{
				display: flex;
				margin-bottom: 45px;
				@include respond(screen-less-than-xlarge){
					display: block;
					margin-bottom: 0;
				}
				.block{
					flex: 1;
					width: 47.5%;
					@include respond(screen-less-than-xlarge){
						width: 100%;
					}
					&:first-child{
						margin-right: 5%;
						border: solid 1px $wild-blue-yonder;
						background: $whisper;
						@include respond(screen-less-than-xlarge){
							margin-right: 0;
						}
						.btn{
							background: $victoria;
							&:hover{
								transition: all 0.2s;
								background: darken($victoria, 10%);
							}
						}
					}
					&:last-child{
						margin-right: 0;
						border: solid 1px $water-leaf;
						background: $polar;
						.btn{
							background: $riptide;
							&:hover{
								transition: all 0.2s;
								background: darken($riptide, 10%);
							}
						}
					}
				}
			}
			&:last-child{
				.block{
					border: solid 1px $rajah;
					background: $bridal-heath;
					.block__group{
						width: 65%;
						float: left;
						@include respond(screen-less-than-xlarge){
							width: 100%;
						}
					}
					.btn{
						background: $buttercup;
						float: right;
						@include respond(screen-less-than-xlarge){
							float: left;
							clear: both;
						}
						&:hover{
							transition: all 0.2s;
							background: darken($buttercup, 10%);
						}
					}
				}
			}
		}
	}
}