.page-header{
	background: rgba(74, 75, 155, .1);
	padding: 25px 0 50px;
	// margin-bottom: 80px;

	& > ul.breadcrumbs{
		padding: 25px 0 75px;
	}
	h1, span{
		color: $tundora;
	}
	h1{
		font-size: 48px;
		display: block;
		margin: 0 0 20px 0;
	}
	span{
		font-size: 20px;
	}
}