.speakers{
	display: block;
	margin-top: 25px;
	img{
		float: left;
		margin-right: 15px;
		max-width: 48px;
		max-height: 48px;
		width: auto;
		height: auto;
	}
	.speaker{
		.speaker__info{
			float: left;
			color: $tundora;
			padding: 4px 0;
			.name{
				font-family: $truenoReg;
				font-size: 16px;
				display: block;
				margin-bottom: 10px;
			}
			.speaker__organization{
				font-family: $truenoLight;
				font-size: 14px;
			}
		}
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	& + a.register{
		margin-top: 35px;
	}
}

.single__article{
	.speaker{
		display: inline-block;
		border: solid 1px $gallery;
		box-sizing: border-box;
		margin-right: 2%;
		border-radius: 2px;
		padding: 10px 12px;
	}
}