.subcats{
	background: rgba(74, 75, 155, .1);
	padding: 45px 0;
	margin-bottom: 80px;
	.subcats__wrap{
		display: flex;
		justify-content: space-around;
		@include respond(screen-xs){
			display: block;
		}
		a{
			flex-grow: 1;
			font-size: 20px;
			color: $tundora;
			text-decoration: none;
			text-align: center;
			@include respond(screen-xs){
				float: left;
				width: 47.5%;
				margin-right: 5%;
				margin-bottom: 50px;
				&:nth-child(2n+2){
					margin-right: 0;
				}
				&:nth-child(n+3){
					margin-bottom: 0;
				}
			}
			
			.ico{
				fill: $victoria;
				display: block;
				margin: 0 auto 20px auto;
				height: 48px;
			}
			&.news .ico{
				width: 53px;
			}
			&.think .ico{
				width: 48px;
			}
			&.qna .ico{
				width: 51px;
			}
			&.announcements .ico{
				width: 67px;
			}
			&:hover{
				.ico{
					fill: darken($victoria, 10%);
				}
			}
		}
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}
}