.single__article{
	
	.article__image{
		display: block;
		margin-bottom: 38px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.date{
		color: $dusty-gray;
		font-size: 18px;
		font-family: $truenoLight;
		display: block;
		margin-bottom: 12px;
		float: left;
		margin-right: 25px;
	}
	h1{
		font-size: 48px;
		line-height: 64px;
		font-family: $truenoLight;
		display: block;
		margin: 0;
		color: $tundora;
		clear: both;
	}
	.post__info{
		display: block;
		margin-bottom: 55px;
		.author{
			float: left;
			margin-right: 50px;
			span{
				color: $tundora;
				display: block;
				&:first-child{
					font-family: $truenoReg;
					font-size: 16px;
					margin-bottom: 10px;
				}
				&:last-child{
					font-family: $truenoLight;
					font-size: 14px; 
				}
			}
		}
		.country{
			float: left;
			line-height: 24px;
			padding: 8px 0;
			font-size: 16px;
			color: $tundora;
			font-family: $truenoLight;
			margin-right: 50px;
			img{
				float: left;
				margin-right: 10px;
			}
		}
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}
	.speakers{
		margin-bottom: 25px;
	}
	.organization{
		border: solid 1px #eeeeee;
	    padding: 20px 25px;
	    margin-top: 25px;
	    font-family: "TruenoRegular";
	    display: inline-block;
	    border-radius: 2px;
	    font-size: 16px;
	    color: #4a4a4a;
	    margin-bottom: 25px;
	}
	.article__content{
		display: block;
		padding-bottom: 95px;
		border-bottom: solid 1px $gallery;
		margin-bottom: 75px;
		p{
			font-size: 20px;
			font-family: $georgia;
			line-height: 34px;
			display: block;
			margin-bottom: 40px;
			color: $tundora;
		}
	}
	&.single__article--video{

		.article__content{
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}