$georgia: Georgia, Times, "Times New Roman", serif;
$truenoBlack: 'TruenoBlack';
$truenoBold: 'TruenoBold';
$truenoExtraBold: 'TruenoExtraBold';
$truenoLight: 'TruenoLight';
$truenoReg: 'TruenoRegular';
$truenoSemiBold: 'TruenoSemiBold';
$truenoUltraBlack: 'TruenoUltraBlack';
$truenoUltraLight: 'TruenoUltraLight';