body{

}
h1, h2, h3, h4, h5, h6{
	font-family: $truenoSemiBold;
}
h1{

}
h2{
	font-size: 40px;
}
h3{

}
h4{

}
h5{

}
h6{
	font-size: 22px;
}
p{

}
span{

}
a{

}
.overlay, .category-grid{
	span{
		font-family: $truenoReg;
	}
}
footer{
	.footer__logo{
		span{
			font-family: $truenoLight;
		}
	}
	.social{
		a{
			font-family: $truenoReg;
		}
	}
	.footer__middle{
		p{
			font-family: $georgia;
		}
	}
}