body{

}
h1, h2, h3, h4, h5, h6{
	font-family: $truenoSemiBold;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{
	font-size: 22px;
	font-family: $truenoSemiBold;
}
p{

}
span{

}
a{

}
.overlay, .category-grid{
	span{
		font-family: $truenoReg;
	}
}