h1, h2, h3, h4, h5, h6 {
  font-family: "TruenoSemiBold"; }

h1 {
  font-family: "TruenoRegular"; }

h2 {
  font-size: 40px; }

h3 {
  font-family: "TruenoRegular"; }

h4 {
  font-family: "TruenoLight"; }

h6 {
  font-size: 22px; }

.overlay span, .category-grid span {
  font-family: "TruenoRegular"; }

.subcats a {
  font-family: "TruenoLight"; }

.catgroup .catgroup__title {
  font-family: "TruenoRegular"; }

.catgroup .catgroup__subtitle {
  font-family: Georgia, Times, "Times New Roman", serif; }

.catgroup__blocks .date, .catgroup__blocks .country, .catgroup__blocks .tag,
.post__group .date, .post__group .country, .post__group .tag {
  font-family: "TruenoLight"; }

.catgroup__blocks p, .post__group p {
  font-family: Georgia, Times, "Times New Roman", serif; }

.catgroup__list span {
  font-family: "TruenoLight"; }

ul.breadcrumbs li {
  font-family: "TruenoLight"; }

.page-header span {
  font-family: Georgia, Times, "Times New Roman", serif; }

footer .footer__logo span {
  font-family: "TruenoLight"; }
footer .social a {
  font-family: "TruenoRegular"; }
footer .footer__middle p {
  font-family: Georgia, Times, "Times New Roman", serif; }
footer ul a {
  font-family: "TruenoRegular"; }
footer .footer__bottom p {
  font-family: "TruenoLight"; }

.container {
  width: 940px;
  display: block;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

header {
  padding: 10px 0;
  font-family: "TruenoSemiBold"; }
  header .left {
    float: left; }
    header .left .logo {
      text-decoration: none;
      color: #313131;
      line-height: 55px;
      font-size: 20px;
      font-family: "TruenoRegular"; }
      header .left .logo .ico {
        height: 55px;
        width: 55px;
        margin-right: 20px;
        float: left; }
  header .right {
    float: right; }
    header .right .search {
      float: right;
      border-right: solid 1px #f4f4f4;
      border-left: solid 1px #f4f4f4;
      padding: 17px 25px;
      margin-left: 33px;
      cursor: pointer; }
      header .right .search .ico {
        width: 21px;
        height: 21px;
        fill: #313131;
        transition: all 0.2s; }
      header .right .search:hover .ico {
        fill: #4a4b9b;
        transition: all 0.2s; }

.single__article .article__image {
  display: block;
  margin-bottom: 38px; }
.single__article .date {
  color: #9b9b9b;
  font-size: 18px;
  font-family: "TruenoLight";
  display: block;
  margin-bottom: 12px; }
.single__article h1 {
  font-size: 48px;
  line-height: 64px;
  font-family: "TruenoLight";
  display: block;
  margin-bottom: 55px;
  color: #4a4a4a; }
.single__article .post__info {
  display: block;
  margin-bottom: 55px; }
  .single__article .post__info .author {
    float: left;
    margin-right: 50px; }
    .single__article .post__info .author span {
      color: #4a4a4a;
      display: block; }
      .single__article .post__info .author span:first-child {
        font-family: "TruenoRegular";
        font-size: 16px;
        margin-bottom: 10px; }
      .single__article .post__info .author span:last-child {
        font-family: "TruenoLight";
        font-size: 14px; }
  .single__article .post__info .country {
    float: left;
    line-height: 24px;
    padding: 8px 0;
    font-size: 16px;
    color: #4a4a4a;
    font-family: "TruenoLight";
    margin-right: 50px; }
    .single__article .post__info .country img {
      float: left;
      margin-right: 10px; }
  .single__article .post__info:after {
    content: "";
    display: block;
    clear: both; }
.single__article .article__content {
  display: block;
  padding-bottom: 95px;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 75px; }
  .single__article .article__content p {
    font-size: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 34px;
    display: block;
    margin-bottom: 40px;
    color: #4a4a4a; }

footer {
  background: #4a4b9b;
  padding: 50px 0; }
  footer .footer__top {
    margin-bottom: 65px; }
    footer .footer__top .footer__logo {
      float: left; }
      footer .footer__top .footer__logo .ico {
        fill: #fff;
        width: 37px;
        height: 37px;
        float: left;
        margin-right: 12px; }
      footer .footer__top .footer__logo span {
        font-size: 20px;
        color: #fff;
        line-height: 37px; }
    footer .footer__top .social {
      float: right; }
    footer .footer__top:after {
      content: "";
      display: block;
      clear: both; }
  footer .footer__middle {
    margin-bottom: 75px; }
    footer .footer__middle p {
      font-size: 20px;
      line-height: 34px;
      color: #fff;
      width: 370px;
      float: left; }
    footer .footer__middle ul {
      float: right; }
      footer .footer__middle ul li {
        float: left; }
        footer .footer__middle ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          opacity: 0.6;
          margin-left: 30px;
          transition: all 0.2s;
          line-height: 68px; }
          footer .footer__middle ul li a:hover {
            opacity: 1;
            transition: all 0.2s; }
    footer .footer__middle:after {
      content: "";
      display: block;
      clear: both; }
  footer .footer__bottom p {
    font-size: 16px;
    color: #fff;
    opacity: 0.5; }

nav.main-menu {
  float: left; }
  nav.main-menu ul li {
    margin-left: 28px;
    line-height: 55px;
    display: inline-block; }
    nav.main-menu ul li a {
      color: #828282;
      font-size: 16px;
      text-decoration: none;
      transition: all 0.2s; }
    nav.main-menu ul li.current-menu-item a, nav.main-menu ul li:hover a {
      color: #4a4b9b;
      transition: all 0.2s; }

.home-banner {
  max-height: 560px;
  height: 560px;
  position: relative;
  overflow: hidden; }
  .home-banner img {
    width: 100%; }
  .home-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.8+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#cc000000',GradientType=0 );
    /* IE6-9 */
    padding-top: 132px; }
    .home-banner .overlay span {
      font-size: 14px;
      text-transform: uppercase;
      padding: 10px 14px;
      color: #fff;
      background: #f5a623;
      border-radius: 3px;
      display: inline-block;
      font-family: "TruenoLight"; }
    .home-banner .overlay h1 {
      width: 85%;
      font-size: 54px;
      line-height: 74px;
      color: #fff;
      margin: 0 0 30px 0; }

.btn {
  font-size: 16px;
  padding: 15px 20px;
  text-decoration: none;
  transition: all 0.2s;
  font-family: "TruenoRegular";
  border-radius: 3px; }

.purple {
  color: #fff;
  background: #4a4b9b; }
  .purple:hover {
    transition: all 0.2s;
    background: #3a3a78; }
  .purple .ico {
    fill: #fff; }

.btn-arrow {
  position: relative;
  float: left; }
  .btn-arrow .ico {
    height: 20px;
    width: 20px;
    float: right;
    margin-left: 85px; }

input[type="submit"] {
  border: none; }

.spotlights {
  margin-top: -35px;
  position: relative;
  margin-bottom: 145px; }
  .spotlights .spotlight-wrap {
    display: flex;
    overflow: hidden; }
    .spotlights .spotlight-wrap .spotlight {
      flex: 1;
      width: 47.5%;
      margin-right: 5%;
      border: solid 1px #dbdbdb;
      border-radius: 3px;
      padding: 35px;
      background: #fff;
      box-sizing: border-box; }
      .spotlights .spotlight-wrap .spotlight span {
        font-size: 16px;
        color: #9b9b9b;
        display: block;
        margin-bottom: 15px;
        font-family: "TruenoSemiBold";
        letter-spacing: 3px;
        text-transform: uppercase; }
      .spotlights .spotlight-wrap .spotlight h6 {
        color: #4a4a4a;
        line-height: 32px;
        display: block;
        margin-bottom: 10px; }
      .spotlights .spotlight-wrap .spotlight form {
        font-family: "TruenoRegular";
        font-size: 16px; }
        .spotlights .spotlight-wrap .spotlight form input {
          display: block;
          width: 300px; }
        .spotlights .spotlight-wrap .spotlight form input[type="text"] {
          border: solid 1px #6e6e6e;
          border-radius: 3px;
          margin-bottom: 15px;
          padding: 15px 20px;
          box-sizing: border-box; }
      .spotlights .spotlight-wrap .spotlight:last-child {
        margin-right: 0; }
  .spotlights:after {
    content: "";
    display: table;
    clear: both; }

.category-wrap {
  color: #4a4a4a; }
  .category-wrap .container {
    padding-bottom: 70px;
    border-bottom: solid 1px #f2f2f2;
    margin-bottom: 72px; }
  .category-wrap h2 {
    display: block;
    text-align: center;
    margin-bottom: 95px; }
  .category-wrap .category-grid {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .category-wrap .category-grid .category-row {
      display: table-row; }
      .category-wrap .category-grid .category-row:first-child span {
        margin-bottom: 100px; }
      .category-wrap .category-grid .category-row .block {
        display: table-cell;
        position: relative; }
        .category-wrap .category-grid .category-row .block:nth-child(3n+4) {
          margin-right: 0; }
        .category-wrap .category-grid .category-row .block .ico {
          fill: #4a4b9b;
          display: block;
          margin: 0 auto 25px auto; }
          .category-wrap .category-grid .category-row .block .ico:first-child {
            height: 96px;
            width: 96px; }
          .category-wrap .category-grid .category-row .block .ico:nth-child(2) {
            height: 96px;
            width: 96px; }
          .category-wrap .category-grid .category-row .block .ico:nth-child(3) {
            height: 103px;
            width: 96px; }
          .category-wrap .category-grid .category-row .block .ico:nth-child(4) {
            height: 96px;
            width: 87px; }
          .category-wrap .category-grid .category-row .block .ico:nth-child(5) {
            height: 96px;
            width: 96px; }
          .category-wrap .category-grid .category-row .block .ico:last-child {
            height: 96px;
            width: 69px; }
        .category-wrap .category-grid .category-row .block span {
          font-size: 20px;
          display: block;
          text-align: center; }

.explore-wrap .explore-highlights .row .block {
  border-radius: 3px;
  padding: 35px;
  box-sizing: border-box; }
  .explore-wrap .explore-highlights .row .block .btn {
    color: #fff;
    display: block; }
    .explore-wrap .explore-highlights .row .block .btn .ico {
      fill: #fff; }
  .explore-wrap .explore-highlights .row .block h6 {
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
    font-family: "TruenoRegular";
    color: #4a4a4a; }
  .explore-wrap .explore-highlights .row .block p {
    display: block;
    margin-bottom: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 34px; }
  .explore-wrap .explore-highlights .row .block:after {
    content: "";
    display: block;
    clear: both; }
.explore-wrap .explore-highlights .row:first-child {
  display: flex;
  margin-bottom: 45px; }
  .explore-wrap .explore-highlights .row:first-child .block {
    flex: 1;
    width: 47.5%; }
    .explore-wrap .explore-highlights .row:first-child .block:first-child {
      margin-right: 5%;
      border: solid 1px #8081b9;
      background: #f8f8fb; }
      .explore-wrap .explore-highlights .row:first-child .block:first-child .btn {
        background: #4a4b9b; }
        .explore-wrap .explore-highlights .row:first-child .block:first-child .btn:hover {
          transition: all 0.2s;
          background: #3a3a78; }
    .explore-wrap .explore-highlights .row:first-child .block:last-child {
      margin-right: 0;
      border: solid 1px #a9ebe1;
      background: #f6fdfc; }
      .explore-wrap .explore-highlights .row:first-child .block:last-child .btn {
        background: #86e2d5; }
        .explore-wrap .explore-highlights .row:first-child .block:last-child .btn:hover {
          transition: all 0.2s;
          background: #5dd8c7; }
.explore-wrap .explore-highlights .row:last-child .block {
  border: solid 1px #f8c166;
  background: #fffcf6; }
  .explore-wrap .explore-highlights .row:last-child .block .block__group {
    width: 65%;
    float: left; }
  .explore-wrap .explore-highlights .row:last-child .block .btn {
    background: #f5a623;
    float: right; }
    .explore-wrap .explore-highlights .row:last-child .block .btn:hover {
      transition: all 0.2s;
      background: #db8c0a; }

.newsletter {
  background: rgba(74, 75, 155, 0.1);
  padding: 50px 0;
  margin-top: 100px; }
  .newsletter .left {
    float: left;
    margin-right: 115px; }
    .newsletter .left span {
      color: #9b9b9b;
      font-size: 16px;
      letter-spacing: 3px;
      margin-bottom: 20px;
      font-family: "TruenoRegular";
      text-transform: uppercase; }
    .newsletter .left h5 {
      font-size: 28px;
      color: #4a4a4a;
      line-height: 40px;
      font-family: "TruenoRegular"; }
  .newsletter .right {
    float: left; }
    .newsletter .right form input[type="text"], .newsletter .right form button {
      display: block;
      border-radius: 2px;
      width: 300px;
      box-sizing: border-box; }
    .newsletter .right form input[type="text"] {
      border: solid 1px #4a4a4a;
      font-family: "TruenoLight";
      margin-bottom: 15px;
      padding: 15px 20px; }
    .newsletter .right form button {
      position: relative;
      background: #4a4b9b;
      border: none;
      font-family: "TruenoRegular";
      color: #fff;
      padding: 20px;
      text-align: left; }
      .newsletter .right form button .ico {
        fill: #fff;
        width: 20px;
        height: 16px;
        float: right; }
  .newsletter:after {
    content: "";
    display: block;
    clear: both; }

.subcats {
  background: rgba(74, 75, 155, 0.1);
  padding: 45px 0;
  margin-bottom: 80px; }
  .subcats .subcats__wrap a {
    font-size: 20px;
    color: #4a4a4a;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 0 75px; }
    .subcats .subcats__wrap a .ico {
      fill: #4a4b9b;
      display: block;
      margin: 0 auto 20px auto;
      height: 48px; }
    .subcats .subcats__wrap a.news .ico {
      width: 53px; }
    .subcats .subcats__wrap a.think .ico {
      width: 48px; }
    .subcats .subcats__wrap a.qna .ico {
      width: 51px; }
    .subcats .subcats__wrap a.announcements .ico {
      width: 67px; }
    .subcats .subcats__wrap a:hover .ico {
      fill: #3a3a78; }
  .subcats .subcats__wrap:after {
    content: "";
    display: block;
    clear: both; }

.catgroup {
  padding-bottom: 95px;
  margin-bottom: 95px;
  border-bottom: solid 1px #eeeeee; }
  .catgroup:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .catgroup .catgroup__titles {
    margin-bottom: 40px; }
    .catgroup .catgroup__titles span {
      color: #4a4a4a; }
    .catgroup .catgroup__titles .catgroup__title {
      font-size: 48px;
      float: left; }
    .catgroup .catgroup__titles .catgroup__subtitle {
      font-size: 24px;
      float: right;
      line-height: 48px; }
    .catgroup .catgroup__titles:after {
      content: "";
      display: block;
      clear: both; }
  .catgroup .catgroup__list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 35px;
    border: solid 1px #cdcdcd;
    border-radius: 2px;
    box-sizing: border-box;
    color: #4a4a4a;
    text-decoration: none; }
    .catgroup .catgroup__list a span {
      margin-right: 2%;
      font-size: 36px;
      line-height: 48px;
      vertical-align: middle;
      flex-grow: 2; }
    .catgroup .catgroup__list a img {
      flex-grow: 1; }
    .catgroup .catgroup__list a:after {
      content: "";
      display: block;
      clear: both; }
  .catgroup .post__group {
    display: block;
    margin-bottom: 24px; }
    .catgroup .post__group a {
      padding: 24px;
      text-decoration: none;
      color: #4a4a4a;
      border: solid 1px #cdcdcd;
      border-radius: 2px;
      box-sizing: border-box;
      float: left;
      margin-bottom: 24px; }
      .catgroup .post__group a .post__image {
        display: block;
        background-position: center;
        background-size: cover; }
      .catgroup .post__group a:first-child {
        width: 58%;
        margin-right: 2%; }
        .catgroup .post__group a:first-child .post__image {
          margin-bottom: 30px;
          height: 290px !important; }
        .catgroup .post__group a:first-child .date {
          font-size: 18px;
          line-height: 24px; }
        .catgroup .post__group a:first-child .country {
          line-height: 24px; }
          .catgroup .post__group a:first-child .country img {
            width: 34px; }
        .catgroup .post__group a:first-child .tag {
          line-height: 24px;
          padding: 3px 13px; }
        .catgroup .post__group a:first-child h4 {
          font-size: 34px;
          line-height: 46px; }
      .catgroup .post__group a:nth-child(2), .catgroup .post__group a:nth-child(3) {
        width: 40%; }
        .catgroup .post__group a:nth-child(2) h4, .catgroup .post__group a:nth-child(3) h4 {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0; }
        .catgroup .post__group a:nth-child(2) .post__image, .catgroup .post__group a:nth-child(3) .post__image {
          margin-bottom: 30px;
          height: 95px !important; }
        .catgroup .post__group a:nth-child(2) p, .catgroup .post__group a:nth-child(3) p {
          display: none; }
      .catgroup .post__group a:nth-child(n+4) {
        width: 49%;
        float: left; }
        .catgroup .post__group a:nth-child(n+4):nth-child(odd) {
          margin-left: 2%; }
        .catgroup .post__group a:nth-child(n+4) .post__image {
          display: block;
          height: 145px;
          margin-bottom: 20px; }
        .catgroup .post__group a:nth-child(n+4) .date {
          color: #9b9b9b;
          font-size: 16px;
          margin-right: 35px;
          float: left;
          line-height: 20px; }
        .catgroup .post__group a:nth-child(n+4) .country {
          font-size: 16px;
          line-height: 20px;
          float: left;
          margin-bottom: 15px; }
          .catgroup .post__group a:nth-child(n+4) .country img {
            width: 28px;
            display: inline-block;
            margin-right: 10px;
            float: left; }
        .catgroup .post__group a:nth-child(n+4) .tag {
          font-size: 14px;
          color: #fff;
          background: #f5a623;
          border-radius: 2px;
          line-height: 20px;
          padding: 3px 10px;
          text-transform: uppercase; }
        .catgroup .post__group a:nth-child(n+4) h4 {
          font-size: 24px;
          line-height: 36px; }
        .catgroup .post__group a:nth-child(n+4) p {
          font-size: 20px;
          line-height: 34px;
          display: block; }
      .catgroup .post__group a h4 {
        clear: both;
        display: block;
        margin-bottom: 10px; }
      .catgroup .post__group a > img {
        display: block;
        width: 100%;
        margin-bottom: 16px; }
      .catgroup .post__group a .date {
        color: #9b9b9b;
        font-size: 16px;
        margin-right: 35px;
        float: left;
        line-height: 20px; }
      .catgroup .post__group a .country {
        font-size: 16px;
        line-height: 20px;
        float: left;
        margin-bottom: 15px; }
        .catgroup .post__group a .country img {
          width: 28px;
          display: inline-block;
          margin-right: 10px;
          float: left; }
      .catgroup .post__group a .tag {
        font-size: 14px;
        color: #fff;
        background: #f5a623;
        border-radius: 2px;
        line-height: 20px;
        padding: 3px 10px;
        text-transform: uppercase; }
      .catgroup .post__group a p {
        font-size: 20px;
        line-height: 34px;
        display: block; }
    .catgroup .post__group:after {
      content: "";
      display: block;
      clear: both; }
  .catgroup a.btn {
    clear: both; }
  .catgroup:after {
    content: "";
    display: block;
    clear: both; }

.social a {
  padding: 18px 20px;
  margin-left: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  line-height: 16px;
  transition: all 0.2s; }
  .social a .ico {
    fill: #fff;
    margin-right: 15px; }
.social .social__twitter {
  background: #1da1f2; }
  .social .social__twitter .ico {
    width: 16px;
    height: 13px; }
  .social .social__twitter:hover {
    background: #0c85d0;
    transition: all 0.2s; }
.social .social__linkedin {
  background: #0077b5; }
  .social .social__linkedin .ico {
    width: 16px;
    height: 16px; }
  .social .social__linkedin:hover {
    background: #005582;
    transition: all 0.2s; }
.social .social__rss {
  background: #ff9500; }
  .social .social__rss .ico {
    width: 16px;
    height: 16px; }
  .social .social__rss:hover {
    background: #cc7700;
    transition: all 0.2s; }
.social .social__facebook {
  background: #3b5998; }
  .social .social__facebook .ico {
    width: 16px;
    height: 16px; }
  .social .social__facebook:hover {
    background: #2d4373;
    transition: all 0.2s; }
.social:after {
  content: "";
  display: block;
  clear: both; }

.page-header {
  background: rgba(74, 75, 155, 0.1);
  padding: 25px 0 50px; }
  .page-header > ul.breadcrumbs {
    padding: 25px 0 75px; }
  .page-header h1, .page-header span {
    color: #4a4a4a; }
  .page-header h1 {
    font-size: 48px;
    display: block;
    margin: 0 0 20px 0; }
  .page-header span {
    font-size: 20px; }

.article__share {
  padding-bottom: 70px;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 75px; }
  .article__share h4 {
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: "TruenoRegular";
    color: #4a4a4a;
    margin-bottom: 58px; }
  .article__share .social {
    display: flex;
    align-items: center;
    justify-content: center; }
  .article__share:after {
    content: "";
    display: block;
    clear: both; }

.article__related {
  width: 800px;
  margin: 0 auto; }
  .article__related h4 {
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: "TruenoRegular";
    color: #4a4a4a;
    margin-bottom: 45px; }
  .article__related a {
    border: solid 1px #cdcdcd;
    padding: 15px 25px;
    float: left;
    width: 47%;
    margin-right: 6%;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: "TruenoLight";
    text-decoration: none; }
    .article__related a:last-child {
      margin-right: 0; }
    .article__related a .post__image {
      height: 130px;
      display: block;
      background-size: cover;
      background-position: center;
      margin-bottom: 15px; }
    .article__related a .date {
      font-size: 14px;
      color: #9b9b9b;
      margin-right: 23px;
      float: left;
      line-height: 20px;
      margin-bottom: 10px; }
    .article__related a .country {
      float: left;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 20px; }
      .article__related a .country img {
        height: 20px;
        width: 28px;
        float: left;
        margin-right: 10px; }
    .article__related a .tag {
      float: left;
      line-height: 20px;
      font-size: 14px;
      background: #f5a623;
      color: #fff;
      padding: 0 8px;
      border-radius: 2px; }
    .article__related a .title {
      clear: both;
      display: block;
      font-size: 20px;
      line-height: 30px;
      color: #4a4a4a; }

ul.breadcrumbs {
  background: rgba(74, 75, 155, 0.1);
  padding: 25px 0; }
  ul.breadcrumbs li {
    font-size: 16px;
    color: #4a4b9b;
    float: left; }
    ul.breadcrumbs li a {
      color: #9b9b9b;
      text-decoration: none; }
      ul.breadcrumbs li a:after {
        content: "/";
        float: right;
        margin: 0 10px; }
  ul.breadcrumbs:after {
    content: "";
    display: block;
    clear: both; }
  ul.breadcrumbs + .container {
    margin-top: 50px; }

/*# sourceMappingURL=hire-immigrants.css.map */
